*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    width: 1440px;
    height: 2561px;
    margin-top: 4rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-left: 22px;
    width: 862px;
    height: 66px;
}

.card h2 {
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.card-project {
    background-color: white;
    width: 859px;
    height: 320px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 23px;
}

.card-body h3 {
    font-family: 'Montserrat', sans-serif;
}